<a href="https://colab.research.google.com/github/keerthipreddy/AI/blob/main/Pythonlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KEERTHI P REDDY
1BM21CS090

In [22]:
#age
age=int(input("enter the age "))
if age<=0:
  print("invalid age!!")
elif age<=12:
  print("children")
elif age<=19:
  print("adolescent")
elif age<65:
  print("adult")
else:
  print("older adult")

enter the age 15
adolescent

In [6]:
#multiplication table
num=int(input("enter value "))
for i in range(1,11):
  print(num,"*",i,"=",num*i)

enter value 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
#pattern
num=int(input("enter value "))
for i in range(1,num+1):
  for j in range(i):
    print(i,end=" ")
  print()

enter value 9
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [16]:
#pattern
num=int(input("enter value "))
for i in range(1,num+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter value 7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [23]:
#reverse integer
num=int(input("enter a number "))
sum=0
while num!=0:
  rem=num%10
  sum=sum*10+rem
  num=num//10
print("Reverse=",sum)

enter a number 345
Reverse= 543

In [21]:
lis=[]
l=int(input("enter the length of the array "))
print("enter numbers ")
for i in range(l):
  n=int(input())
  lis.append(n)
for i in range(l-1):
  for j in range(l-i-1):
    if(lis[j]>lis[j+1]):
      lis[j],lis[j+1]=lis[j+1],lis[j]
print("sorted list",lis)

enter the length of the array 4
enter numbers
2
8
1
4
sorted list [1, 2, 4, 8]